<h1>{{title}}</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
    {{#each books}}
    <!-- <a href="/books/{{id}}" class="text-decoration-none text-dark d-block"> -->
      {{> product-card}}
    <!-- </a> -->
    {{/each}}
  </div>
</div>