<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/button.css" />
  </head>
  <body>
    <button class="button {{backgroundColorClass}} {{textColorClass}}">
      {{title}}
      <i class="fa-solid {{icon}}"></i>
    </button>
  </body>
</html>